body {
    width: 50%;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.highlighted {
    border: 2px solid black;
    background-color: lightgrey;
}

.header {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
}

.main-container {
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.main-container__item {
    height: 400px;
    text-align: center;
}

.main-container__item:first-of-type {
    flex: 4;
}

.main-container__item:last-of-type  {
    flex: 1;
}


