* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 50%;
    margin: 0 auto;
}

.highlight {
    border: 2px solid black;
}

.header,
.footer {
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

.content {
    display: flex;
    column-gap: 10px;
}

.content__menu {
    flex: 1;
}

.content__post {
    flex: 2;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
}

.content__post__item {
    height: 200px;
}