* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 50%;
    margin: 0 auto;
}

.child {
    align-self: stretch;
    height: 100px;
    border: 2px solid black;
}

.page {
    flex-flow: column;
}

.page, .page__content {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
}

.page__content__main {
    height: 300px;
    flex: 4;
}

.page__content__aside {
    height: 300px;
    flex: 1;
}